mixin label(elem, locale)
	.slide-label(class=locale)
		.label-title= elem[locale].title
		.label-description= elem[locale].description
		.label-museum= elem[locale].museum
		.label-year-place= elem[locale].year_place
		.label-size-mat= elem[locale].size_mat

doctype html
html
	head
		title W A R | S L I D E R
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='../css/main.css')
		link(rel='stylesheet', type='text/css', href='../css/swiper.min.css')
		script(type='text/javascript', src='../js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='../js/swiper.jquery.min.js')
		script(type='text/javascript', src='../js/main.js')
	body
		.navigate-container

			.navigate-blocks
				each block in blocks
					.navigate-block= block.title

			.navigate-buttons
				.navigate-button.up
				.navigate-button.down
				.navigate-button.left
				.navigate-button.right

		.swiper-container.swiper-container-v
			.swiper-pagination.swiper-pagination-v
			.swiper-wrapper
				each block in blocks
					.swiper-slide
						.swiper-container.swiper-container-h
							.swiper-pagination.swiper-pagination-h
							.swiper-wrapper
								each elem in block.elems
									.swiper-slide
										.slide-footer
											+label(elem, 'ru')
											+label(elem, 'en')

