mixin label(elem, locale)
	.footer-label(class=locale)
		.label-title: b= elem[locale].title
		.label-description= elem[locale].description
		.label-description-alt= elem[locale].description_alt
		.label-museum= elem[locale].museum
		.label-year-place= elem[locale].year_place
		.label-size-mat= elem[locale].size_mat

doctype html
html
	head
		title W A R | S L I D E R
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='../css/main.css')
		link(rel='stylesheet', type='text/css', href='../css/swiper.min.css')
		script(type='text/javascript', src='../js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='../js/swiper.jquery.min.js')
		script(type='text/javascript', src='../js/main.js')
	body
		.banner-block

		.navigate-buttons
			.navigate-button.up
			.navigate-button.down
			.navigate-button.left
			.navigate-button.right

		.navigate-blocks.active
			each block, i in blocks
				.navigate-block(class= (i==0) ? 'active' : '')
					.block-lang.ru= block.title.ru
					.block-lang.en= block.title.en


		.swiper-container.swiper-container-v: .swiper-wrapper
			each block in blocks
				.swiper-slide
					.swiper-container.swiper-container-h: .swiper-wrapper
						each elem in block.elems
							- var path = elem.path
							if (!/.jpg|.jpeg|.tiff|.tif/g.test(path))
								- path = path + '.jpg'
							else
								- path = path.replace(/.tiff|.tif|.jpeg/g, '.jpg')
							.swiper-slide
								.slide-image(style="background-image: url('../../img/" + base_path + '/' + hall + '/' + path + "')")
								.slide-footer: .footer-inner
									+label(elem, 'ru')
									+label(elem, 'en')

